.homeheroSection {
    padding: 100px 20px 10px 10px;
  }
  
  .homeheroRow {
    align-items: center;
  }
  
  .row {
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    flex-wrap: wrap;
    align-content: center;
  }
  
  .col {
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 50%;
    flex-basis: 50%;
  }
  
  .homeheroTextwrapper {
    max-width: 500px;
    padding-top: 0;
    padding-bottom: 30px;
    padding-left: 20px;
  }
  
  .topLine {
    color: #D5C2A5;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  
  .heading {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: #f7f8fa;
  }
  
  .dark {
    color: #526E3E;
  }

  .lightBg{
    background-color: white;
  }
  
  .darkBg {
    background-color: #526E3E;
  }
  
  .homeheroSubtitle {
    max-width: 440px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .homeheroImgwrapper {
    max-width: 555px;
  }
  
  .homeheroImg {
    max-width: 95%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;
  }
  
  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  @media screen and (max-width: 991px) {
    .container {
      padding-right: 70px;
      padding-left: 70px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .homeheroTextwrapper {
      padding-bottom: 65px;
    }
  
    .col {
      max-width: 100%;
      flex-basis: 100%;
    }
  }