.appbarContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.appbarLogo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.appbarIcon {
  margin-right: 0.5rem;
}

.appMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  list-style: none;
  text-align: center;
}

.sensorCards {
  padding: 5px 5px;
  margin: 5px 5px;
  position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.dialog{
  width: 500px;
  height: 500px;
  display: grid;
  position: relative;
  z-index: 5
 
}
.fieldsCards {
  padding: 5px 5px;
  margin: 5px 5px;
  position: center;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
@media screen and (max-width: 960px) {
  .appbarItems {
    position: relative;
  }
}
